body {
  padding: 0 12px;
}

p {
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  width: 70%;
}

nav {
  width: 40%;
}

.navList {
  display: flex;
  justify-content: flex-end;
}

.navList > li {
  list-style: none;
  padding: 12px 24px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited,
a:active,
a::after,
a:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

input,
textarea {
  padding: 6px;
}

.wrapper {
  padding-right: 24px;
}

/* Signup */
.signupWrapper {
  display: flex;
  justify-content: center;
}
.signupLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  border: 1px, solid, rgb(229, 223, 223);
  border-radius: 8px;
  padding: 0 18px;
}

.avatar {
  display: flex;
  background-color: rgb(197, 212, 234);
  height: 30px;
  width: 30px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  margin-right: 16px;
  font-size: small;
}

.userFullName {
  font-size: medium;
  /* font-weight: bold; */
}

.avatarContainer {
  display: flex;
  align-items: center;
  /* background-color: green; */
  padding: 0;
  margin: 0;
}

.nameAndDateContainer {
  display: flex;
  align-items: center;
  /* background-color: red; */
  width: 30%;
}

.textContainer {
  /* background-color: red; */
  padding-left: 3rem;
  margin-top: -1.5rem;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.text {
  font-size: medium;
  margin-top: -10px;
}

.date {
  font-size: x-small;
  /* margin-top: 1px; */
  /* margin-top: -0.8rem; */
}

.error {
  color: red;
  font-size: small;
  margin-top: -8px;
  margin-bottom: 8px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.formContainer > input,
textarea {
  margin-bottom: 12px;
}

.formContainer > label {
  margin-bottom: 4px;
}

.formContainer > button {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 40%;
  margin-top: 14px;
}

.postTextContainer {
  padding-left: 0;
}

/* New File Upload Form */
#fileName {
  margin-top: 12px;
}

.newItemImageWrapper {
  position: relative;
}

.newItemImage {
  display: none;
  width: 9rem;
  height: 9rem;
  margin-bottom: -1rem;
  border-radius: 8px;
}

.newImageDltBtn {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10;
  right: 10;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: white;
}

.deleteBtn {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.newItemImageInput {
  display: block;
}

.inputContainer {
  display: flex;
  width: 100%;
  /* background-color: red; */
  flex-wrap: wrap;
}

.labelInputWrapper {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  width: 80%;
  /* background-color: green; */
  margin: 3px;
}

.labelInputWrapper > input {
  width: 60%;
}

.labelInputWrapper > label {
  margin-right: 8px;
  width: 20%;
  /* background-color: aqua; */
}

.submitBtn {
  display: flex;
  width: 40%;
  justify-content: center;
  align-self: center;
}

/* Add Button */
.addIcon {
  height: 20px;
  width: 20px;
}

.addBtn {
  display: flex;
  align-items: center;
  background-color: rgb(180, 215, 246);
  height: auto;
  width: fit-content;
  padding: 0 8px;
  border-radius: 6px;
  gap: 5px;
  cursor: pointer;
}

.addBtnWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Dialog */
#newFolderDialog {
  padding: 2em;
  width: 25rem;
  border: rgb(229, 223, 223);
  border-radius: 8px;
}

.addFolderInputContainer {
  display: flex;
  flex-direction: column;
}

#newFolderLabel {
  font-size: larger;
  margin-bottom: 12px;
}

.btnContainer {
  display: flex;
  justify-self: flex-end;
  margin: 12px 0px;
  gap: 8px;
}

/* Folder listing */
.folderCard,
.folderTableHeadings {
  display: flex;
  width: 70%;
  align-items: center;
  border-bottom: 1px solid rgb(176, 189, 202);
  padding: 0px 12px;
}

.foldersWrapper > a:hover {
  font-weight: normal;
  cursor: default;
}

.folderCard > div,
.folderTableHeadings > div {
  width: 32%;
}

.folderTableHeadings > div > p,
.folderTableHeadings > p {
  font-weight: bold;
}

.folderIconWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.folderIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.folderCard:hover {
  background-color: rgb(219, 227, 235);
}

.menuIcon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
